body {
  background-color: #F8E9D8;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}


h1 {
  font-family: 'IM Fell English', cursive;
  font-size: 6rem;;
  line-height: 110%;
  color: #000;
}

h3 {
  font-size: 27px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: -.5px;
}

h4 {
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
}

hr {
  background-color: #fff;
  opacity: 1;
}


.pointing {
  font-size: 3rem;
}

.quote {
  font-size: 1.4rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.profile {
  border-radius: 50%;
  width: 72px;
  height: 72px;
}

  .profile-sm {
    width: 48px;
    height: 48px;
  }


.list-group {
  color: #000;
  text-decoration: none;
  font-size: 20px;
 }

  .list-group-item:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }

.border-top {
  border-top: 4px solid #000!important;
}

.border-bottom {
  border-bottom: 4px solid #000!important;
}

.btn {
  font-weight: bold;
}

.card {
  border-radius: 12px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  padding-bottom: .5rem;
}

.list-group-flush>.list-group-item {
  border-width: 1px 0;
  margin-bottom: -1px;
}

img.final-answer {
  margin-top: -3.25rem;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
  width: 72px; 
  height: 72px;
}


